<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD2dYg_SCIuhdsUTOcY2Th_TQFM3F_ip8</string>
	<key>GCM_SENDER_ID</key>
	<string>1088220632406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.msg</string>
	<key>PROJECT_ID</key>
	<string>fcm4flutter-d46fa</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm4flutter-d46fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088220632406:ios:8f1682fcb0a934d193b2f7</string>
</dict>
</plist>